<ul class="pure-menu-list">
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">{{site.title}}</li> 

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/index" class="pure-menu-link">Blog</a>
  </li>

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/about" class="pure-menu-link">About</a>
  </li>
  
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">Links</li>

  <li class="pure-menu-item"><a href="http://rosie-lang.org"
				class="pure-menu-link">Rosie's Website</a> 
  </li>
  
  <li class="pure-menu-item"><a href="http://twitter.com/jamietheriveter"
				class="pure-menu-link">@jamietheriveter</a> 
  </li>

  <li class="pure-menu-item"><a href="mailto:jamie@rosie-lang.org"
				class="pure-menu-link">Contact me</a> 
  </li>
  
</ul>
