<ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">TIM Home</a></li>
                <li class="pure-menu-item"><a href="http://menzies.us" class="pure-menu-link">TIM About</a></li>

                <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Services</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
