<ul class="pure-menu-list">
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">{{site.title}}</li> 

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/index" class="pure-menu-link">Blog</a>
  </li>

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/about" class="pure-menu-link">About</a>
  </li>
  
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">Links</li>

  <li class="pure-menu-item"><a href="https://github.com/jamiejennings/rosie-pattern-language"
				class="pure-menu-link">Github: Rosie</a> 
  </li>
  
  <li class="pure-menu-item"><a href="https://twitter.com/jamietheriveter"
				class="pure-menu-link">Twitter: @jamietheriveter</a> 
  </li>

</ul>
